/__pycache__
/Logic_Function/Combinational_Logic/__pycache__
/Logic_Function/Sequential_Logic/__pycache__
/Logic_Function/Sequential_Logic/temporary
/wandb
/NN for testing/datasets
/NN for testing/saved_model
/NN for testing/__pycache__
/logs
/.vscode
/HP